/* ==UserStyle==
@name           CollabCMS Dark
@namespace      github.com/openstyles/stylus
@version        1.0.1
@author         IOE
@homepageURL  https://github.com/ContentsViewer/CollabCMS-Themes
@updateURL    https://raw.githubusercontent.com/ContentsViewer/CollabCMS-Themes/master/collabcms-dark.user.css
==/UserStyle== */
@-moz-document domain("contentsviewer.work") {

  @media screen {
    :root {
      /*     --main-font-color: #ffffff; */
      --main-font-color: #cccccc;
    }

    body {
      background-color: #282828;
      color: var(--main-font-color);
    }

    #main {
      background-color: #1f1f1f;
    }

    #header {
      background-color: #1d5558;
    }
    .overlay-header {
      background-color: #1d5558;
    }

    a:visited {
      /*       color: #6b4ba1; */
      color: #80A4C8;
      /*        color: #36b; */
      /*       color: #0091ff; */
    }

    a {
      /*     color: #3ea6ff */
      /*       color: #4db2ff */
      color: #4183c4;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--main-font-color);
    }
    code{
      background-color: rgba(0,0,0,0.2);
      border: 1px solid rgba(255, 255, 255, .1);
    }

    ul.child-list > li:after {
      background: linear-gradient( to top, rgba(31, 31, 31, 1) 20%, rgba(31, 31, 31, 0) 80%);
    }

    .search-results-view {
      background-color: #1f1f1f;
    }

    #content-body h2::before {
      background-image: linear-gradient(transparent, transparent),
      url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Eexpand%3C/title%3E%3Cpath fill=%22white%22 d=%22M17.5 4.75l-7.5 7.5-7.5-7.5L1 6.25l9 9 9-9z%22/%3E%3C/svg%3E")
    }

    table th {
      background-color: transparent;
    }

    table tbody tr:nth-child(odd) {
      background-color: #4d4d4d;
    }

    table tbody tr:nth-child(even) {
      background-color: #4d4d4d7a;
    }

    ol.references > li:target {
      background-color: #c3e5e730;
    }
    sup.reference:target {
      background-color: #c3e5e730;
    }
    .syntaxhighlighter {
      background-color: #111111 !important;
    }
    .syntaxhighlighter .plain,
    .syntaxhighlighter .plain a {
      color: #c3c3c3 !important;
    }
    .navi a.selected {
      background-color: rgba(255, 255, 255, 0.1);
      color: var(--main-font-color);
    }
    .navi a:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: var(--main-font-color);
    }
    .new-box {
      border: 2px solid #f3cbd087;
    }
    .new-box:before {
      background-color: #bb6c71;
    }
    .new-box:after {
      border-top: 12px solid #bb6c71;
    }
    ol.new-list li:before {
      background-color: #f6a38bc9;
    }
    ol.new-list li {
      border-bottom: dashed 1px #f6a38bc9;
    }
    ul.tag-list li a {
      color: var(--main-font-color);
    }
    #game-panel {
      background-color: #1f1f1f;
      color: var(--main-font-color);
    }
    #game-panel-title {
      color: var(--main-font-color);
    }
    .box-warning {
      background-color: transparent;
    }
    .menu-open-button {
      background-color: rgba(62, 62, 62, 1);
    }
    .menu-open-button .lines {
      background-color: #cdd2d8;
    }
    .spinner {
      background-color: #ffffff;
    }
    #loading-box .spinner {
      background-color: transparent;
    }
    .search-box > input {
      background-color: #1f1f1f;
      border: 1px solid #1f1f1f;
      color: var(--main-font-color);
    }
    ul.tagline li a {
      background-color: #3498dbad;
    }
    ul.tagline li a::before {
      border-color: transparent #3498dbad transparent transparent;
    }
    ul.tag-list li span {
      background-color: #3498dbad;
    }
    ul.tag-list li a {
      border: 1px solid #aaaaaa6e;
    }
    ul.tag-list li a:hover {
      background-color: #3498dbad;
      border: 1px solid #3498dbad;
    }
  }
}
